.button-container {
    display: flex;
    justify-content: center; 
}

.button-container div {
    margin-right: 10px;
}

.client-ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-box {
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
}
  