.client-box {
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    flex: 0 0 200px; 
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center; 
}

.button-container div {
    margin-right: 10px;
}

.client-ul {
    display: flex; 
    flex-wrap: wrap;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  